*{
    margin: 0%;
    padding: 0%;
   /*  cursor: url("images/Pistola2.png"), auto; */
} 

/* @ encapsulan un grupo de reglas */
@font-face {
    font-family: Audiowide;
    src: url(fonts/Audiowide-Regular.ttf);
}

@font-face {
    font-family: Architects Daughter;
    src: url(fonts/ArchitectsDaughter-Regular.ttf);
}

#firstPage {
    background-image: url("images/Fondo1.jpg");
    background-size: cover;
    height: 100vh; 
    width: 100vw;  
}

/* Webkit para navegador google chrome y zafari */
#titleFirstPage {
    font-family: Audiowide, Arial, Helvetica, sans-serif;
    font-size: 1.875rem;
    color: #00ACB3;
    -webkit-text-stroke: 0.125rem black; 
    display: flex;
    justify-content: center;
}

.firstPageMain{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

span{
    display: block;
}

.firstPartCloudParagraph{
    margin-left: 3rem;
}

.cloudParagraph{
    font-family: Audiowide, Arial, Helvetica, sans-serif;
    color: black; 
    font-size: 2rem;
    font-weight: bold;
}

.containerButtonsFirstPage {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 5rem;
    margin-left: 20rem;
}

#buttonEnter{
    cursor: pointer;
}

.btnFirstPage{
    background-color: rgba(252, 244, 244, 0.5);
    padding: 0.8rem;
    border-radius: 100rem;
    margin: 1rem; 
}

a {
    text-decoration: none;
}

.btnTextFirstPage{
    color: #00ACB3; 
    font-size: 1.8rem;
    font-weight: bolder;
    font-family: Architects Daughter, Arial, Helvetica, sans-serif;
    -webkit-text-stroke: 0.01rem black;
}

.audioRickAndMorty{
margin-top: 4rem;
}

#secondPage {
    display: none;
}

.firstImageSecondPage {
    background-image: url("images/Header2.png");
    background-size: cover;
    height: 50vh; 
    width: auto;  
} 

nav{
    background-color: red;
    height: 20vh;
}

.secondImageSecondPage {
    background-image: url("images/Fondo2.png");
    background-size: cover; /*Repeat*/
}

.card{
    display: inline-block;
    height: 50vh;
    width: 20vw;
    background-image: url("images/Portal.jpg");
    background-size: cover;
    margin: 1rem;
}

.cardImage{
    height: 25vh;
    width: auto;
    margin: auto;
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
}

.cardText{
    font-family: Audiowide, Arial, Helvetica, sans-serif;
    color: #000000;
    font-size: 0.8rem;
    text-align: center;
    margin-top: 1rem;
}

/*    .searcherImage{
        border: 0;
        width: 20px;
    }*/

nav{
    display: flex;
    flex-direction: row; 
    justify-content: space-around;
}

.btnsSecondPage{
    background-color: rgba(252, 244, 244, 0.5);
    padding: 0.8rem;
    border-radius: 100rem;
    margin: 1rem; 
}

/*  .searcher{
    height:100%;
    padding-top:0px;
    float:right;
    background-color: rgba(252, 244, 244, 0.5);;
    font-size:12.9px;
}  */

/* 
input[type="search"]{
    width:170px;
    margin:10px;
    padding:10px 16px;
    border-radius:32px;
    outline:none;
    border:2px solid #ccd1d1;
    background: rgba(252, 244, 244, 0.5);;
    transition:all 0.5s;
}
input[type="search"]:focus{
    background:#fff;
    width:300px;
} */