/*COMPUTADOR*/
@media (min-width: 992px) and (max-width: 10000px) { 
    *{
        margin: 0%;
        padding: 0%;
    } 
    
    /* @ encapsulan un grupo de reglas */
    @font-face {
        font-family: Audiowide;
        src: url(fonts/Audiowide-Regular.ttf);
        font-family: Architects Daughter;
        src: url(fonts/ArchitectsDaughter-Regular.ttf);
    }
    
    #firstPage {
        background-image: url("images/Fondo1.jpg");
        background-size: cover;
        height: 100vh; 
        width: 100vw; 
    
    }
    
    /* Webkit para navegador google chrome y zafari */
    #titleFirstPage {
        font-family: Audiowide, Arial, Helvetica, sans-serif;
        font-size: 1.875rem;
        color: #00ACB3;
        -webkit-text-stroke: 0.125rem black; 
        display: flex;
        justify-content: center;
    }
    
    .firstPageMain{
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    
    span{
        display: block;
    }
    
    .firstPartCloudParagraph{
        margin-left: 3rem;
    }
    
    .cloudParagraph{
        font-family: Audiowide, Arial, Helvetica, sans-serif;
        color: black; 
        font-size: 2rem;
        font-weight: bold;
    }
    
    .containerButtonsFirstPage {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-top: 5rem;
        margin-left: 20rem;
    }
    
    #buttonEnter{
        cursor: pointer;
    }
    
    .btnFirstPage{
        background-color: rgba(252, 244, 244, 0.5);
        padding: 0.8rem;
        border-radius: 100rem;
        margin: 1rem; 
    }
    
    a {
        text-decoration: none;
    }
    
    .btnTextFirstPage{
        color: #00ACB3; 
        font-size: 1.8rem;
        font-weight: bolder;
        font-family: Architects Daughter, Arial, Helvetica, sans-serif;
        -webkit-text-stroke: 0.01rem black;
    }
    
    .audioRickAndMorty{
    margin-top: 4rem;
    }
    
    #secondPage {
        display: none;
    }
    
    .firstImageSecondPage {
        background-image: url("images/Header2.png");
        background-size: cover;
        height: 50vh; 
        width: auto;  
    } 
    
    nav{
        background-image: url("images/Fondo2.png");
        background-size: Repeat;
        height: 20vh;
        display: flex;
        align-content: center;
        flex-direction: row; 
        align-items: center;
        justify-content: space-around; 
    }
    
    .secondImageSecondPage {
        background-image: url("images/Fondo2.png");
        background-size: Repeat;
        display: flex;
    }
    
    .cardsAndFilters{
        flex-direction: column-reverse; 
    }
    
    /*FLIPCARDS*/
        #root{
        display: flex;
        flex-wrap: wrap;
        width: 70vw;
    }
    
    .tarjeta{
        position: relative;
        transform-style: preserve-3d; 
        transition: .7s ease;
    }
    
    .frontCard, .backCard{
        width: 100%;
        height: 100%;
        position: absolute;
        backface-visibility: hidden;
    }
    
    .backCard{
        transform: rotateY(180deg);
        background-color: rgba(252, 244, 244, 0.5);
    }
    
    .tarjeta-wrap:hover .tarjeta{
        transform: rotateY(180deg)
    }
    
    .card{
        height: 50vh;
        width: 20vw; 
        background-image: url("images/Portal.jpg");
        background-size: cover;
        margin: 1rem;
    }
    
    .cardImage{
        height: 25vh;
        width: auto;
        margin: auto;
        margin-top: 1rem;
        display: flex;
        justify-content: space-around;
    }
    
    .cardTextName{
        font-family: Audiowide, Arial, Helvetica, sans-serif;
        color: #000000;
        font-size: 1.3rem;
        text-align: center;
        margin-top: 3rem;
        font-weight: bold;
    } 
    
    .cardText{
        font-family: Audiowide, Arial, Helvetica, sans-serif;
        color: #000000;
        font-size: 0.8rem;
        text-align: center;
        margin-top: 1.5rem;
    } 
    /* HASTA AQUÍ FLIP CARDS*/
    
    
    .filters{
        background-image: url("images/Portal.jpg");
        color: black;
        text-align: center;
        font-family: Architects Daughter, Arial, Helvetica, sans-serif;
    }
    
    aside{
    margin-right: 4rem;
    margin-top: 1rem;
    }
    
    .filtersAside{
        border: 0.8rem solid;
        border-image: url("images/Portal.jpg") 30 30 repeat;
        display: flex;
        flex-direction: column;
        position: sticky;
        top: 0rem;
        margin-left: 2rem;
    }
    
    /*Botones FILTRO*/
    .filterBtns{
        margin: 2rem;
        justify-content: center;
    }
    
    /* Color BOTONES */
    select, #bottonClean {
        color:#00ACB3;
        -webkit-text-stroke: 0.0005rem black;
        padding:0.5rem;
        font-family: Architects Daughter, Arial, Helvetica, sans-serif;
        font-size:1rem;
        font-weight:bold;
        text-align:center;
        -webkit-appearance: none; 
        border-radius: 1rem;
    }
    
    #sort {
        background-color:#C0BFBF;
    }
    
    #filterSpecies {
        background-color: #C0BFBF;
    }
    
    #filterStatus {
        background-color: #C0BFBF;
        /*Averiguar porq este botón se dimensiona diferente*/
        width: 12rem;
    }
    
    #bottonClean{
        background-color: #C0BFBF;
    }
    
    select:focus, select:active {
        border:0;
        outline:0;
    }
    
    #buttonBack{
    color:#00ACB3;
    -webkit-text-stroke: 0.0005rem black;
    padding:0.5rem;
    font-family: Architects Daughter, Arial, Helvetica, sans-serif;
    font-size:1rem;
    font-weight:bold;
    text-align:center;
    -webkit-appearance: none; 
    border-radius: 1rem;
    background-color: #C0BFBF;
    height: 2.5rem;
    }
    }
    
    /* small */
    @media (min-width: 0px) and (max-width: 767.98px) {
    *{
        margin: 0%;
        padding: 0%;
    } 
    
    /* @ encapsulan un grupo de reglas */
    @font-face {
        font-family: Audiowide;
        src: url(fonts/Audiowide-Regular.ttf);
        font-family: Architects Daughter;
        src: url(fonts/ArchitectsDaughter-Regular.ttf);
    }
    
    #firstPage {
        background-image: url("images/Fondo1.1.jpg");
        background-size: cover;
        height: 100vh; 
        width: 100vw; 
    }
    
    /* Webkit para navegador google chrome y zafari */
    #titleFirstPage {
        font-family: Audiowide, Arial, Helvetica, sans-serif;
        font-size: 1.875rem;
        color: #00ACB3;
        -webkit-text-stroke: 0.125rem black; 
        display: flex;
        justify-content: center;
        padding-top: 3rem;
    }
    
    .firstPageMain{
        display: flex;
        flex-direction: column;
        align-items: center;
       justify-items: center;
       margin-top: 3rem;
    }
    
    span{
        display: block;
    }
    
    .firstPartCloudParagraph{
        margin-left: 1rem;
    }
    
    .cloudParagraph{
        font-family: Audiowide, Arial, Helvetica, sans-serif;
        color: black; 
        font-size: 1.5rem;
        font-weight: bold;
        display: flex;
        flex-direction: column;
        padding-left: 0.3rem;
    }
    
    .containerButtonsFirstPage {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-top: 3rem;
    }
    
    #buttonEnter{
        cursor: pointer;
    }
    
    .btnFirstPage{
        background-color: rgba(252, 244, 244, 0.5);
        padding: 0.8rem;
        border-radius: 100rem;
        margin: 1rem; 
    }
    
    a {
        text-decoration: none;
    }
    
    .btnTextFirstPage{
        color: #00ACB3; 
        font-size: 1.8rem;
        font-weight: bolder;
        font-family: Architects Daughter, Arial, Helvetica, sans-serif;
        -webkit-text-stroke: 0.01rem black;
    }
    
    .audioRickAndMorty{
    margin-top: 4rem;
    }
    
    #secondPage {
        display: none;
    }
    
    .firstImageSecondPage {
        background-image: url("images/Header2.png");
        background-size: cover;
        height: 10vh; 
        width: auto;  
    } 
    
    nav{
        background-image: url("images/Fondo2.png");
        background-size: Repeat;
        height: 10vh;
        display: flex;
        align-content: center;
        flex-direction: row; 
        align-items: center;
        justify-content: space-around; 
    }
    
    .secondImageSecondPage {
        background-image: url("images/Fondo2.png");
        background-size: Repeat;
        display: flex;
        flex-direction: column-reverse;
    }
    
    /*FLIPCARDS*/
        #root{
        display: flex;
        flex-wrap: wrap;
        width: 100vw;
    }
    
    .tarjeta{
        position: relative;
        transform-style: preserve-3d; 
        transition: .7s ease;
    }
    
    .frontCard, .backCard{
        width: 100%;
        height: 100%;
        position: absolute;
        backface-visibility: hidden;
    }
    
    .backCard{
        transform: rotateY(180deg);
        background-color: rgba(252, 244, 244, 0.5);
    }
    
    .tarjeta-wrap:hover .tarjeta{
        transform: rotateY(180deg)
    }
    
    .card{
        height: 35vh;
        width: 40vw;
        background-image: url("images/Portal.jpg");
        background-size: cover;
        margin: 1rem;
    }
    
    .cardImage{
        height: 15vh;
        width: auto;
        margin: auto;
        margin-top: 1rem;
        display: flex;
        justify-content: space-around;
    }
    
    .cardTextName{
        font-family: Audiowide, Arial, Helvetica, sans-serif;
        color: #000000;
        font-size: 1rem;
        text-align: center;
        margin-top: 1rem;
        font-weight: bold;
    } 
    
    .cardText{
        font-family: Audiowide, Arial, Helvetica, sans-serif;
        color: #000000;
        font-size: 0.8rem;
        text-align: center;
        margin-top: 0.6rem;
    } 
    /* HASTA AQUÍ FLIP CARDS*/
    
    
    .filters{
        background-image: url("images/Portal.jpg");
        color: black;
        text-align: center;
        font-family: Architects Daughter, Arial, Helvetica, sans-serif;
    }
    
    aside{
    margin-top: 1rem;
    }
    
    .filtersAside{
        border: 0.8rem solid;
        border-image: url("images/Portal.jpg") 30 30 repeat;
        display: flex;
        flex-direction: column;
        margin-left: 0.3rem;
    }
    
    /*Botones FILTRO*/
    .filterBtns{
        margin: 2rem;
        justify-content: center;
    }
    
    /* Color BOTONES */
    select, #bottonClean {
        color:#00ACB3;
        -webkit-text-stroke: 0.0005rem black;
        padding:0.5rem;
        font-family: Architects Daughter, Arial, Helvetica, sans-serif;
        font-size:1rem;
        font-weight:bold;
        text-align:center;
        -webkit-appearance: none; 
        border-radius: 1rem;
    }
    
    #sort {
        background-color:#C0BFBF;
    }
    
    #filterSpecies {
        background-color: #C0BFBF;
        width: 17.3rem;
    }
    
    #filterStatus {
        background-color: #C0BFBF;
        /*Averiguar porq este botón se dimensiona diferente*/
        width: 17.5rem;
    }
    
    #bottonClean{
        background-color: #C0BFBF;
    }
    
    select:focus, select:active {
        border:0;
        outline:0;
    }
    
    #buttonBack{
    color:#00ACB3;
    -webkit-text-stroke: 0.0005rem black;
    padding:0.5rem;
    font-family: Architects Daughter, Arial, Helvetica, sans-serif;
    font-size:1rem;
    font-weight:bold;
    text-align:center;
    -webkit-appearance: none; 
    border-radius: 1rem;
    background-color: #C0BFBF;
    height: 2.5rem;
    }
    }
    
    
    
    /* medium */
    @media (min-width: 768px) and (max-width: 991.98px) {
        *{
            margin: 0%;
            padding: 0%;
        } 
        
        /* @ encapsulan un grupo de reglas */
        @font-face {
            font-family: Audiowide;
            src: url(fonts/Audiowide-Regular.ttf);
            font-family: Architects Daughter;
            src: url(fonts/ArchitectsDaughter-Regular.ttf);
        }
        
        #firstPage {
            background-image: url("images/Fondo1.jpg");
            background-size: cover;
            height: 100vh; 
            width: 100vw; 
            background-position: center;
        }
        
        /* Webkit para navegador google chrome y zafari */
        #titleFirstPage {
            font-family: Audiowide, Arial, Helvetica, sans-serif;
            font-size: 1.875rem;
            color: #00ACB3;
            -webkit-text-stroke: 0.125rem black; 
            display: flex;
            justify-content: center;
            padding: 2rem;
        }
        
        .firstPageMain{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
        }
        
        span{
            display: block;
        }
        
        .firstPartCloudParagraph{
            margin-left: 3rem;
        }
        
        .cloudParagraph{
            font-family: Audiowide, Arial, Helvetica, sans-serif;
            color: black; 
            font-size: 2rem;
            font-weight: bold;
            margin-top: 4rem;
        }
        
        .containerButtonsFirstPage {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            margin-top: 7rem;
        
        }
        
        #buttonEnter{
            cursor: pointer;
        }
        
        .btnFirstPage{
            background-color: rgba(252, 244, 244, 0.5);
            padding: 0.8rem;
            border-radius: 100rem;
            margin: 1rem; 
        }
        
        a {
            text-decoration: none;
        }
        
        .btnTextFirstPage{
            color: #00ACB3; 
            font-size: 1.8rem;
            font-weight: bolder;
            font-family: Architects Daughter, Arial, Helvetica, sans-serif;
            -webkit-text-stroke: 0.01rem black;
        }
        
        .audioRickAndMorty{
        margin-top: 4rem;
        }
        
        #secondPage {
            display: none;
        }
        
        .firstImageSecondPage {
            background-image: url("images/Header2.png");
            background-size: cover;
            height: 17vh; 
            width: auto;  
        } 
        
        nav{
            background-image: url("images/Fondo2.png");
            background-size: Repeat;
            height: 10vh;
            display: flex;
            align-content: center;
            flex-direction: row; 
            align-items: center;
            justify-content: space-around; 
        }
        
        .secondImageSecondPage {
            background-image: url("images/Fondo2.png");
            background-size: Repeat;
            display: flex;
            flex-direction: column-reverse; 
        }
        
        /*FLIPCARDS*/
            #root{
            display: flex;
            flex-wrap: wrap;
            width: 100vw;
        }
        
        .tarjeta{
            position: relative;
            transform-style: preserve-3d; 
            transition: .7s ease;
        }
        
        .frontCard, .backCard{
            width: 100%;
            height: 100%;
            position: absolute;
            backface-visibility: hidden;
        }
        
        .backCard{
            transform: rotateY(180deg);
            background-color: rgba(252, 244, 244, 0.5);
        }
        
        .tarjeta-wrap:hover .tarjeta{
            transform: rotateY(180deg)
        }
        
        .card{
            height: 30vh;
            width: 20vw; 
            background-image: url("images/Portal.jpg");
            background-size: cover;
            margin: 1rem;
            margin-top: 2rem;
        }
        
        .cardImage{
            height: 13vh;
            width: auto;
            margin: auto;
            margin-top: 2rem;
            display: flex;
            justify-content: space-around;
        }
        
        .cardTextName{
            font-family: Audiowide, Arial, Helvetica, sans-serif;
            color: #000000;
            font-size: 1.3rem;
            text-align: center;
            margin-top: 3rem;
            font-weight: bold;
        } 
        
        .cardText{
            font-family: Audiowide, Arial, Helvetica, sans-serif;
            color: #000000;
            font-size: 0.8rem;
            text-align: center;
            margin-top: 1.5rem;
        } 
        /* HASTA AQUÍ FLIP CARDS*/
        
        
        .filters{
            background-image: url("images/Portal.jpg");
            color: black;
            text-align: center;
            font-family: Architects Daughter, Arial, Helvetica, sans-serif;
        }
        
        aside{
        margin-top: 1rem;
        }
        
        .filtersAside{
            border: 0.8rem solid;
            border-image: url("images/Portal.jpg") 30 30 repeat;
            display: flex;
            flex-direction: column;
            margin-top: 2rem;
        }
        
        /*Botones FILTRO*/
        .filterBtns{
            margin: 2rem;
            justify-content: center;
        }
        
        /* Color BOTONES */
        select, #bottonClean {
            color:#00ACB3;
            -webkit-text-stroke: 0.0005rem black;
            padding:0.5rem;
            font-family: Architects Daughter, Arial, Helvetica, sans-serif;
            font-size:1rem;
            font-weight:bold;
            text-align:center;
            -webkit-appearance: none; 
            border-radius: 1rem;
        }
        
        #sort {
            background-color:#C0BFBF;
        }
        
        #filterSpecies {
            background-color: #C0BFBF;
            width: 42.2rem;
        }
        
        #filterStatus {
            background-color: #C0BFBF;
            /*Averiguar porq este botón se dimensiona diferente*/
            width: 42.2rem;
        }
        
        #bottonClean{
            background-color: #C0BFBF;
        }
        
        select:focus, select:active {
            border:0;
            outline:0;
        }
        
        #buttonBack{
        color:#00ACB3;
        -webkit-text-stroke: 0.0005rem black;
        padding:0.5rem;
        font-family: Architects Daughter, Arial, Helvetica, sans-serif;
        font-size:1rem;
        font-weight:bold;
        text-align:center;
        -webkit-appearance: none; 
        border-radius: 1rem;
        background-color: #C0BFBF;
        height: 2.5rem;
        }
     }